


<form class="mi_formulario">
    <div class="contenedor">
        <span class="spanxd">Nombre</span>
        <input class="mi_input" type="text">
    </div>
    <div class="contenedor">
        <span class="spanxd">Edad</span>
        <input class="mi_input" type="number">
    </div>
    <div class="contenedor">
        <span class="spanxd">Fecha de nasciomiento</span>
        <input class="mi_input" type="date">
    </div>
    <legend>Género</legend>
    
    <div>
      <input class="mi_input" type="radio" name="drone" name="drone">
      <span class="spanxd" for="hombre">Hombre</span>
    </div>

    <div>
      <input class="mi_input" type="radio" name="drone">
      <span class="spanxd" for="mujer">Mujer</span>
    </div>
    <br>
    <button type="submit">Guardar</button>
</form>
